<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookstoreapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStoreApplication"
        tools:replace="android:theme">
        <activity
            android:name=".orders.orderDetails.OrderHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <!-- tools:replace="android:theme"> -->
        <activity
            android:name=".orders.orderDetails.OrderDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".profile.CustomerServiceActivity"
            android:exported="true"
            />
        <activity
            android:name=".profile.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".home.fragments.home.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".admin.addBook.SelectCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".admin.addBook.AddBookActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".checkout.address.AddNewAddressActivity"
            android:exported="true" />
        <activity
            android:name=".admin.addCategory.ListCategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".admin.books.ListBookActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".checkout.orderComplete.OrderCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".checkout.address.AddressActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".checkout.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".categoryPage.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".singleBookPage.SingleBookActivity"
            android:exported="true" />
        <activity
            android:name=".booking.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".booking.BookingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".UserAccount.UserAccountActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>