<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookstoreapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStoreApplication">
        <activity
            android:name=".admin.addBook.AddBookActivity"
            android:exported="true" />
        <activity
            android:name=".checkout.address.AddNewAddressActivity"
            android:exported="true" />
        <activity
            android:name=".admin.addCategory.ListCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".admin.books.ListBookActivity"
            android:exported="true" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".checkout.orderComplete.OrderCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".checkout.address.AddressActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".checkout.CheckOutActivity"
            android:exported="true" />
        <activity
            android:name=".categoryPage.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".singleBookPage.SingleBookActivity"
            android:exported="true" />
        <activity
            android:name=".booking.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".booking.BookingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UserAccount.UserAccountActivity"
            android:exported="true" />
        <activity
            android:name=".splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>